
.low-usage {
  color: green;
}

.medium-usage {
  color: pink;
}

.high-usage {
  color: red;
}

.Cloudy {
  background-position:50% 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/cloudy.png')
}

.Sky {
  background-position:50% 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/sky.jpg');
}

.Rain {
  background-position:50% 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/rain.jpg')
}

div.text {
  text-align: center;
}
