
.low-usage {
  color: green;
}

.medium-usage {
  color: pink;
}

.high-usage {
  color: red;
}

.Cloudy {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/cloudy.png')

}

.Sky {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/sky.jpg')
}

.Rain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/rain.jpg')
}
